MIME-Version: 1.0
Content-Type: multipart/related; boundary="----=_NextPart_01D18C09.82D61EC0"

此文档为“单个文件网页”，也称为“Web 档案”文件。如果您看到此消息，但是您的浏览器或编辑器不支持“Web 档案”文件。请下载支持“Web 档案”的浏览器，如 Windows? Internet Explorer?。

------=_NextPart_01D18C09.82D61EC0
Content-Location: file:///C:/D049CDF9/apply.htm
Content-Transfer-Encoding: quoted-printable
Content-Type: text/html; charset="us-ascii"

<html xmlns:v=3D"urn:schemas-microsoft-com:vml"
xmlns:o=3D"urn:schemas-microsoft-com:office:office"
xmlns:w=3D"urn:schemas-microsoft-com:office:word"
xmlns:dt=3D"uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns:m=3D"http://schemas.microsoft.com/office/2004/12/omml"
xmlns=3D"http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=3DContent-Type content=3D"text/html; charset=3Dus-ascii">
<meta name=3DProgId content=3DWord.Document>
<meta name=3DGenerator content=3D"Microsoft Word 14">
<meta name=3DOriginator content=3D"Microsoft Word 14">
<link rel=3DFile-List href=3D"apply.files/filelist.xml">
<title>&#27979;&#35797;&#24773;&#20917;&#27719;&#24635;&#34920;</title>
<!--[if gte mso 9]><xml>
 <o:CustomDocumentProperties>
  <o:KSOProductBuildVer dt:dt=3D"string">2052-8.1.0.3000</o:KSOProductBuild=
Ver>
 </o:CustomDocumentProperties>
</xml><![endif]-->
<link rel=3DthemeData href=3D"apply.files/themedata.thmx">
<link rel=3DcolorSchemeMapping href=3D"apply.files/colorschememapping.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:View>Print</w:View>
  <w:Zoom>90</w:Zoom>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:PunctuationKerning/>
  <w:DrawingGridVerticalSpacing>7.8 &#30917;</w:DrawingGridVerticalSpacing>
  <w:DisplayHorizontalDrawingGridEvery>0</w:DisplayHorizontalDrawingGridEve=
ry>
  <w:DisplayVerticalDrawingGridEvery>2</w:DisplayVerticalDrawingGridEvery>
  <w:ValidateAgainstSchemas>false</w:ValidateAgainstSchemas>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotUnderlineInvalidXML/>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>ZH-CN</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:SpaceForUL/>
   <w:BalanceSingleByteDoubleByteWidth/>
   <w:DoNotLeaveBackslashAlone/>
   <w:ULTrailSpace/>
   <w:DoNotExpandShiftReturn/>
   <w:AdjustLineHeightInTable/>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:SplitPgBreakAndParaMark/>
   <w:UseFELayout/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
  <m:mathPr>
   <m:mathFont m:val=3D"Cambria Math"/>
   <m:brkBin m:val=3D"before"/>
   <m:brkBinSub m:val=3D"&#45;-"/>
   <m:smallFrac m:val=3D"off"/>
   <m:dispDef/>
   <m:lMargin m:val=3D"0"/>
   <m:rMargin m:val=3D"0"/>
   <m:defJc m:val=3D"centerGroup"/>
   <m:wrapIndent m:val=3D"1440"/>
   <m:intLim m:val=3D"subSup"/>
   <m:naryLim m:val=3D"undOvr"/>
  </m:mathPr>  <u1:mathPr>
   <u1:mathFont u1:val=3D"Cambria Math"/>
   <u1:brkBin u1:val=3D"before"/>
   <u1:brkBinSub u1:val=3D"--"/>
   <u1:smallFrac u1:val=3D"off"/>
   <u1:dispDef/>
   <u1:lMargin u1:val=3D"0"/>
   <u1:rMargin u1:val=3D"0"/>
   <u1:defJc u1:val=3D"centerGroup"/>
   <u1:wrapIndent u1:val=3D"1440"/>
   <u1:intLim u1:val=3D"subSup"/>
   <u1:naryLim u1:val=3D"undOvr"/>
  </u1:mathPr>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState=3D"false" DefUnhideWhenUsed=3D"false"
  DefSemiHidden=3D"false" DefQFormat=3D"false" LatentStyleCount=3D"267">
  <w:LsdException Locked=3D"false" Priority=3D"1" Name=3D"Default Paragraph=
 Font"/>
  <w:LsdException Locked=3D"false" Priority=3D"99" Name=3D"No List"/>
  <w:LsdException Locked=3D"false" Priority=3D"99" SemiHidden=3D"true"
   Name=3D"Placeholder Text"/>
  <w:LsdException Locked=3D"false" Priority=3D"1" QFormat=3D"true" Name=3D"=
No Spacing"/>
  <w:LsdException Locked=3D"false" Priority=3D"60" Name=3D"Light Shading"/>
  <w:LsdException Locked=3D"false" Priority=3D"61" Name=3D"Light List"/>
  <w:LsdException Locked=3D"false" Priority=3D"62" Name=3D"Light Grid"/>
  <w:LsdException Locked=3D"false" Priority=3D"63" Name=3D"Medium Shading 1=
"/>
  <w:LsdException Locked=3D"false" Priority=3D"64" Name=3D"Medium Shading 2=
"/>
  <w:LsdException Locked=3D"false" Priority=3D"65" Name=3D"Medium List 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"66" Name=3D"Medium List 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"67" Name=3D"Medium Grid 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"68" Name=3D"Medium Grid 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"69" Name=3D"Medium Grid 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"70" Name=3D"Dark List"/>
  <w:LsdException Locked=3D"false" Priority=3D"71" Name=3D"Colorful Shading=
"/>
  <w:LsdException Locked=3D"false" Priority=3D"72" Name=3D"Colorful List"/>
  <w:LsdException Locked=3D"false" Priority=3D"73" Name=3D"Colorful Grid"/>
  <w:LsdException Locked=3D"false" Priority=3D"60" Name=3D"Light Shading Ac=
cent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"61" Name=3D"Light List Accen=
t 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"62" Name=3D"Light Grid Accen=
t 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"63" Name=3D"Medium Shading 1=
 Accent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"64" Name=3D"Medium Shading 2=
 Accent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"65" Name=3D"Medium List 1 Ac=
cent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"99" SemiHidden=3D"true" Name=
=3D"Revision"/>
  <w:LsdException Locked=3D"false" Priority=3D"34" QFormat=3D"true"
   Name=3D"List Paragraph"/>
  <w:LsdException Locked=3D"false" Priority=3D"29" QFormat=3D"true" Name=3D=
"Quote"/>
  <w:LsdException Locked=3D"false" Priority=3D"30" QFormat=3D"true"
   Name=3D"Intense Quote"/>
  <w:LsdException Locked=3D"false" Priority=3D"66" Name=3D"Medium List 2 Ac=
cent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"67" Name=3D"Medium Grid 1 Ac=
cent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"68" Name=3D"Medium Grid 2 Ac=
cent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"69" Name=3D"Medium Grid 3 Ac=
cent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"70" Name=3D"Dark List Accent=
 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"71" Name=3D"Colorful Shading=
 Accent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"72" Name=3D"Colorful List Ac=
cent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"73" Name=3D"Colorful Grid Ac=
cent 1"/>
  <w:LsdException Locked=3D"false" Priority=3D"60" Name=3D"Light Shading Ac=
cent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"61" Name=3D"Light List Accen=
t 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"62" Name=3D"Light Grid Accen=
t 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"63" Name=3D"Medium Shading 1=
 Accent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"64" Name=3D"Medium Shading 2=
 Accent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"65" Name=3D"Medium List 1 Ac=
cent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"66" Name=3D"Medium List 2 Ac=
cent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"67" Name=3D"Medium Grid 1 Ac=
cent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"68" Name=3D"Medium Grid 2 Ac=
cent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"69" Name=3D"Medium Grid 3 Ac=
cent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"70" Name=3D"Dark List Accent=
 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"71" Name=3D"Colorful Shading=
 Accent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"72" Name=3D"Colorful List Ac=
cent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"73" Name=3D"Colorful Grid Ac=
cent 2"/>
  <w:LsdException Locked=3D"false" Priority=3D"60" Name=3D"Light Shading Ac=
cent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"61" Name=3D"Light List Accen=
t 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"62" Name=3D"Light Grid Accen=
t 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"63" Name=3D"Medium Shading 1=
 Accent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"64" Name=3D"Medium Shading 2=
 Accent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"65" Name=3D"Medium List 1 Ac=
cent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"66" Name=3D"Medium List 2 Ac=
cent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"67" Name=3D"Medium Grid 1 Ac=
cent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"68" Name=3D"Medium Grid 2 Ac=
cent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"69" Name=3D"Medium Grid 3 Ac=
cent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"70" Name=3D"Dark List Accent=
 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"71" Name=3D"Colorful Shading=
 Accent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"72" Name=3D"Colorful List Ac=
cent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"73" Name=3D"Colorful Grid Ac=
cent 3"/>
  <w:LsdException Locked=3D"false" Priority=3D"60" Name=3D"Light Shading Ac=
cent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"61" Name=3D"Light List Accen=
t 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"62" Name=3D"Light Grid Accen=
t 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"63" Name=3D"Medium Shading 1=
 Accent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"64" Name=3D"Medium Shading 2=
 Accent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"65" Name=3D"Medium List 1 Ac=
cent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"66" Name=3D"Medium List 2 Ac=
cent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"67" Name=3D"Medium Grid 1 Ac=
cent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"68" Name=3D"Medium Grid 2 Ac=
cent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"69" Name=3D"Medium Grid 3 Ac=
cent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"70" Name=3D"Dark List Accent=
 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"71" Name=3D"Colorful Shading=
 Accent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"72" Name=3D"Colorful List Ac=
cent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"73" Name=3D"Colorful Grid Ac=
cent 4"/>
  <w:LsdException Locked=3D"false" Priority=3D"60" Name=3D"Light Shading Ac=
cent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"61" Name=3D"Light List Accen=
t 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"62" Name=3D"Light Grid Accen=
t 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"63" Name=3D"Medium Shading 1=
 Accent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"64" Name=3D"Medium Shading 2=
 Accent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"65" Name=3D"Medium List 1 Ac=
cent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"66" Name=3D"Medium List 2 Ac=
cent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"67" Name=3D"Medium Grid 1 Ac=
cent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"68" Name=3D"Medium Grid 2 Ac=
cent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"69" Name=3D"Medium Grid 3 Ac=
cent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"70" Name=3D"Dark List Accent=
 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"71" Name=3D"Colorful Shading=
 Accent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"72" Name=3D"Colorful List Ac=
cent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"73" Name=3D"Colorful Grid Ac=
cent 5"/>
  <w:LsdException Locked=3D"false" Priority=3D"60" Name=3D"Light Shading Ac=
cent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"61" Name=3D"Light List Accen=
t 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"62" Name=3D"Light Grid Accen=
t 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"63" Name=3D"Medium Shading 1=
 Accent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"64" Name=3D"Medium Shading 2=
 Accent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"65" Name=3D"Medium List 1 Ac=
cent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"66" Name=3D"Medium List 2 Ac=
cent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"67" Name=3D"Medium Grid 1 Ac=
cent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"68" Name=3D"Medium Grid 2 Ac=
cent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"69" Name=3D"Medium Grid 3 Ac=
cent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"70" Name=3D"Dark List Accent=
 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"71" Name=3D"Colorful Shading=
 Accent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"72" Name=3D"Colorful List Ac=
cent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"73" Name=3D"Colorful Grid Ac=
cent 6"/>
  <w:LsdException Locked=3D"false" Priority=3D"19" QFormat=3D"true"
   Name=3D"Subtle Emphasis"/>
  <w:LsdException Locked=3D"false" Priority=3D"21" QFormat=3D"true"
   Name=3D"Intense Emphasis"/>
  <w:LsdException Locked=3D"false" Priority=3D"31" QFormat=3D"true"
   Name=3D"Subtle Reference"/>
  <w:LsdException Locked=3D"false" Priority=3D"32" QFormat=3D"true"
   Name=3D"Intense Reference"/>
  <w:LsdException Locked=3D"false" Priority=3D"33" QFormat=3D"true" Name=3D=
"Book Title"/>
  <w:LsdException Locked=3D"false" Priority=3D"37" SemiHidden=3D"true"
   UnhideWhenUsed=3D"true" Name=3D"Bibliography"/>
  <w:LsdException Locked=3D"false" Priority=3D"39" SemiHidden=3D"true"
   UnhideWhenUsed=3D"true" QFormat=3D"true" Name=3D"TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:SimSun;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-alt:SimSun;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 135135232 16 0 262145 0;}
@font-face
	{font-family:SimSun;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-alt:SimSun;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 135135232 16 0 262145 0;}
@font-face
	{font-family:SimSun;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 135135232 16 0 262145 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	font-size:10.5pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:SimSun;
	mso-font-kerning:1.0pt;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-unhide:no;
	mso-style-link:"\9875\7709 Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	tab-stops:center 207.65pt right 415.3pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:SimSun;
	mso-font-kerning:1.0pt;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-unhide:no;
	mso-style-link:"\9875\811A Char";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:none;
	tab-stops:center 207.65pt right 415.3pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:SimSun;
	mso-font-kerning:1.0pt;}
p.msolistparagraph0, li.msolistparagraph0, div.msolistparagraph0
	{mso-style-name:msolistparagraph;
	mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.0pt;
	mso-char-indent-count:2.0;
	mso-pagination:none;
	font-size:10.5pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:SimSun;
	mso-font-kerning:1.0pt;}
span.Char
	{mso-style-name:"\9875\7709 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:\9875\7709;
	mso-ansi-font-size:9.0pt;
	mso-bidi-font-size:9.0pt;
	font-family:SimSun;
	mso-ascii-font-family:SimSun;
	mso-fareast-font-family:SimSun;
	mso-hansi-font-family:SimSun;
	mso-font-kerning:1.0pt;}
span.Char0
	{mso-style-name:"\9875\811A Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:\9875\811A;
	mso-ansi-font-size:9.0pt;
	mso-bidi-font-size:9.0pt;
	font-family:SimSun;
	mso-ascii-font-family:SimSun;
	mso-fareast-font-family:SimSun;
	mso-hansi-font-family:SimSun;
	mso-font-kerning:1.0pt;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-size:10.0pt;
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	mso-ascii-font-family:"Times New Roman";
	mso-hansi-font-family:"Times New Roman";
	mso-font-kerning:0pt;}
 /* Page Definitions */
 @page
	{mso-page-border-surround-header:no;
	mso-page-border-surround-footer:no;
	mso-footnote-separator:url("apply.files/header.htm") fs;
	mso-footnote-continuation-separator:url("apply.files/header.htm") fcs;
	mso-endnote-separator:url("apply.files/header.htm") es;
	mso-endnote-continuation-separator:url("apply.files/header.htm") ecs;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
	mso-header-margin:42.55pt;
	mso-footer-margin:49.6pt;
	mso-paper-source:0;
	layout-grid:15.6pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 @list l0
	{mso-list-id:263270252;
	mso-list-type:hybrid;
	mso-list-template-ids:919232658 1887994232 67698713 67698715 67698703 6769=
8713 67698715 67698703 67698713 67698715;}
@list l0:level1
	{mso-level-text:%1\3001;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:18.0pt;
	text-indent:-18.0pt;}
@list l0:level2
	{mso-level-number-format:alpha-lower;
	mso-level-text:"%2\)";
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:42.0pt;
	text-indent:-21.0pt;}
@list l0:level3
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:right;
	margin-left:63.0pt;
	text-indent:-21.0pt;}
@list l0:level4
	{mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:84.0pt;
	text-indent:-21.0pt;}
@list l0:level5
	{mso-level-number-format:alpha-lower;
	mso-level-text:"%5\)";
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:105.0pt;
	text-indent:-21.0pt;}
@list l0:level6
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:right;
	margin-left:126.0pt;
	text-indent:-21.0pt;}
@list l0:level7
	{mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:147.0pt;
	text-indent:-21.0pt;}
@list l0:level8
	{mso-level-number-format:alpha-lower;
	mso-level-text:"%8\)";
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:168.0pt;
	text-indent:-21.0pt;}
@list l0:level9
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:right;
	margin-left:189.0pt;
	text-indent:-21.0pt;}
@list l1
	{mso-list-id:1676574470;
	mso-list-type:hybrid;
	mso-list-template-ids:-428577350 360246416 67698713 67698715 67698703 6769=
8713 67698715 67698703 67698713 67698715;}
@list l1:level1
	{mso-level-text:%1\3001;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:18.0pt;
	text-indent:-18.0pt;}
@list l1:level2
	{mso-level-number-format:alpha-lower;
	mso-level-text:"%2\)";
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:42.0pt;
	text-indent:-21.0pt;}
@list l1:level3
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:right;
	margin-left:63.0pt;
	text-indent:-21.0pt;}
@list l1:level4
	{mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:84.0pt;
	text-indent:-21.0pt;}
@list l1:level5
	{mso-level-number-format:alpha-lower;
	mso-level-text:"%5\)";
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:105.0pt;
	text-indent:-21.0pt;}
@list l1:level6
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:right;
	margin-left:126.0pt;
	text-indent:-21.0pt;}
@list l1:level7
	{mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:147.0pt;
	text-indent:-21.0pt;}
@list l1:level8
	{mso-level-number-format:alpha-lower;
	mso-level-text:"%8\)";
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:168.0pt;
	text-indent:-21.0pt;}
@list l1:level9
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:right;
	margin-left:189.0pt;
	text-indent:-21.0pt;}
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:\666E\901A\8868\683C;
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext=3D"edit" spidmax=3D"2049" fillcolor=3D"#9cbee0"
  strokecolor=3D"#739cc3">
  <v:fill color=3D"#9cbee0" color2=3D"#bbd5f0" type=3D"gradient">
   <o:fill v:ext=3D"view" type=3D"gradientUnscaled"/>
  </v:fill>
  <v:stroke color=3D"#739cc3" weight=3D"1.25pt"/>
 </o:shapedefaults></xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext=3D"edit">
  <o:idmap v:ext=3D"edit" data=3D"1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=3Dwhite lang=3DZH-CN style=3D'tab-interval:21.0pt;text-justif=
y-trim:
punctuation'>

<div class=3DWordSection1 style=3D'layout-grid:15.6pt'>

<p class=3DMsoNormal align=3Dcenter style=3D'text-align:center'><b><span
style=3D'font-size:18.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New Ro=
man"'>&#39033;&#30446;&#36865;&#27979;&#28165;&#21333;</span></b><b><span
lang=3DEN-US style=3D'font-size:18.0pt;mso-bidi-font-size:10.0pt;mso-fareas=
t-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></b></p>

<p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=3D'=
font-family:
SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times=
 New Roman"'>&#28165;&#21333;&#32534;&#21495;&#65306;</span><span
lang=3DEN-US style=3D'mso-bidi-font-size:10.5pt;mso-fareast-font-family:Sim=
Sun;
mso-fareast-theme-font:minor-fareast'>$applyCode</span><span
lang=3DEN-US style=3D'mso-fareast-font-family:SimSun;mso-fareast-theme-font=
:minor-fareast'><span
style=3D'mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb=
sp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style=3D'font-family:SimSun;mso-ascii-font-family:"Time=
s New Roman";
mso-hansi-font-family:"Times New Roman"'>&#29256;&#26412;&#21495;&#65306;</=
span><span
lang=3DEN-US style=3D'mso-fareast-font-family:SimSun;mso-fareast-theme-font=
:minor-fareast'>$applyVersion<o:p></o:p></span></p>

<table class=3DMsoNormalTable border=3D1 cellspacing=3D0 cellpadding=3D0
 style=3D'border-collapse:collapse;border:none;mso-border-alt:solid windowt=
ext .5pt;
 mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insid=
eh:
 .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext'>
 <tr style=3D'mso-yfti-irow:0;mso-yfti-firstrow:yes;height:151.2pt'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;mso-=
border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:151.2pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#39033;&#3044=
6;&#21517;&#31216;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
  <td width=3D454 colspan=3D3 style=3D'width:340.15pt;border:solid windowte=
xt 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:151.2pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#38656;&#2771=
4;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'>/</span><span style=3D'font-=
size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#32570;&#3851=
9;&#32534;&#21495;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'>/</span><span style=3D'font-=
size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#31616;&#3520=
1;&#25551;&#36848;&#65306;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:12.0pt'>$applyName<o:p></o=
:p></span></p>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left;text-indent:17=
5.0pt;
  mso-char-indent-count:12.5'><span style=3D'font-size:14.0pt;mso-bidi-font=
-size:
  10.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-han=
si-font-family:
  "Times New Roman"'>&#25216;&#26415;&#36127;&#36131;&#20154;&#65306;</span=
><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-fareast-font-family:SimSun;mso=
-fareast-theme-font:
  minor-fareast'>$devPrincipal</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:1;height:36.7pt'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:36.7pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#33258;&#2797=
9;&#25253;&#21578;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
  <td width=3D454 colspan=3D3 style=3D'width:340.15pt;border-top:none;borde=
r-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1=
.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:3=
6.7pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:14.0pt'>[$reportSelf1 ]</span><span style=3D'font-size=
:14.0pt;
  font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font=
-family:
  "Times New Roman"'>&#38468;&#24102;</span><span lang=3DEN-US style=3D'fon=
t-size:
  14.0pt;mso-fareast-font-family:SimSun;mso-fareast-theme-font:minor-fareas=
t'><span
  style=3D'mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>[$reportSelf2  ]</span><span style=3D'font-size:14.0pt;font-family:SimSun;mso-ascii-font=
-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#19981;&#3846=
8;&#24102;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:2;height:61.25pt'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:61.25pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#36865;&#2797=
9;&#26102;&#38388;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
  <td width=3D181 style=3D'width:135.65pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:6=
1.25pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'>$applyTime1</span><s=
pan
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#24180;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'> $applyTime2</span><span
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#26376;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'>$applyTime3</span><span
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#26085;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
  <td width=3D114 style=3D'width:85.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:6=
1.25pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#27979;&#3579=
7;&#37096;&#38376;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
  <td width=3D159 style=3D'width:119.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:6=
1.25pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'>$applyDept<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:3;height:107.0pt'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:107.0pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#23436;&#2510=
4;&#26102;&#38388;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
  <td width=3D454 colspan=3D3 style=3D'width:340.15pt;border-top:none;borde=
r-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1=
.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:1=
07.0pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:14.0pt'>[$applyFinishTime1 ]</span><span style=3D'font=
-size:
  14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-han=
si-font-family:
  "Times New Roman"'>&#26080;&#29305;&#27530;&#35201;&#27714;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-fareast-font-family:SimSun;mso=
-fareast-theme-font:
  minor-fareast'><o:p></o:p></span></p>
  <p class=3DMsoNormal align=3Dleft style=3D'margin-left:7.0pt;text-align:l=
eft;
  text-indent:-7.0pt;mso-char-indent-count:-.5'><span lang=3DEN-US
  style=3D'font-size:14.0pt'>[$applyFinishTime2 ]</span><span style=3D'font=
-size:
  14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-han=
si-font-family:
  "Times New Roman"'>&#24314;&#35758;&#20110;</span><span lang=3DEN-US
  style=3D'font-size:14.0pt;mso-fareast-font-family:SimSun;mso-fareast-them=
e-font:
  minor-fareast'>$applyFinishTime3</span><span style=3D'font-size:14.0pt;
  font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font=
-family:
  "Times New Roman"'>&#24180;</span><span lang=3DEN-US style=3D'font-size:1=
4.0pt;
  mso-fareast-font-family:SimSun;mso-fareast-theme-font:minor-fareast'>
  $applyFinishTime4</span><span style=3D'font-size:14.0pt;font-family:SimSu=
n;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#26376;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-fareast-font-family:SimSun;mso=
-fareast-theme-font:
  minor-fareast'> $applyFinishTime5</span><span style=3D'font-size:14.0pt;
  font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font=
-family:
  "Times New Roman"'>&#26085;&#21069;&#23436;&#25104;</span><span lang=3DEN=
-US
  style=3D'font-size:14.0pt;mso-fareast-font-family:SimSun;mso-fareast-them=
e-font:
  minor-fareast'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:4;height:51.35pt'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:51.35pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#27979;&#3579=
7;&#25351;&#24341;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
  <td width=3D454 colspan=3D3 style=3D'width:340.15pt;border-top:none;borde=
r-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1=
.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:5=
1.35pt'>
  <p class=3DMsoNormal><span lang=3DEN-US style=3D'mso-bidi-font-size:10.5p=
t'>$howToTest<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:5;height:47.0pt'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:47.0pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#20854;&#2018=
2;&#35828;&#26126;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
  <td width=3D454 colspan=3D3 style=3D'width:340.15pt;border-top:none;borde=
r-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1=
.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:4=
7.0pt'>
  <p class=3Dmsolistparagraph0 align=3Dleft style=3D'margin-left:18.0pt;tex=
t-align:
  left;text-indent:-18.0pt;mso-char-indent-count:0;mso-list:l1 level1 lfo2'=
><![if !supportLists]><span
  lang=3DEN-US style=3D'font-size:12.0pt;mso-fareast-font-family:"Times New=
 Roman";
  mso-bidi-font-weight:bold'><span style=3D'mso-list:Ignore'>1&#12289;</spa=
n></span><![endif]><span
  style=3D'font-size:12.0pt;font-family:SimSun;mso-ascii-font-family:"Times=
 New Roman";
  mso-hansi-font-family:"Times New Roman";mso-bidi-font-weight:bold'>&#2431=
4;&#35758;&#21512;&#29702;&#23433;&#25490;&#27979;&#35797;&#35745;&#21010;&=
#65292;&#24182;&#21450;&#26102;&#25552;&#20132;<span
  class=3DGramE>&#19978;&#32447;&#23457;&#25209;</span>&#34920;&#65288;&#25=
110;&#27979;&#35797;&#25253;&#21578;&#65289;&#65307;</span><span
  lang=3DEN-US style=3D'font-size:12.0pt;mso-fareast-font-family:SimSun;mso=
-fareast-theme-font:
  minor-fareast;mso-bidi-font-weight:bold'><o:p></o:p></span></p>
  <p class=3Dmsolistparagraph0 align=3Dleft style=3D'margin-left:18.0pt;tex=
t-align:
  left;text-indent:-18.0pt;mso-char-indent-count:0;mso-list:l1 level1 lfo2'=
><![if !supportLists]><span
  lang=3DEN-US style=3D'font-size:12.0pt;mso-fareast-font-family:"Times New=
 Roman"'><span
  style=3D'mso-list:Ignore'>2&#12289;</span></span><![endif]><span
  style=3D'font-size:12.0pt;font-family:SimSun;mso-ascii-font-family:"Times=
 New Roman";
  mso-hansi-font-family:"Times New Roman"'>&#22914;&#20026;&#25253;&#34920;=
&#38656;&#27714;&#65292;<span
  class=3DGramE>&#19978;&#32447;&#23457;&#25209;</span>&#34920;&#65288;&#25=
110;&#27979;&#35797;&#25253;&#21578;&#65289;&#20013;&#35831;&#27880;&#26126=
;&#25253;&#34920;&#21457;&#24067;&#36335;&#24452;&#12290;</span><span
  lang=3DEN-US style=3D'font-size:12.0pt;mso-fareast-font-family:SimSun;mso=
-fareast-theme-font:
  minor-fareast'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:6;mso-yfti-lastrow:yes;height:30.5pt'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:30.5pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#23457;&#2520=
9;&#31614;&#21517;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;mso-fare=
ast-font-family:
  SimSun;mso-fareast-theme-font:minor-fareast'><o:p></o:p></span></p>
  </td>
  <td width=3D454 colspan=3D3 valign=3Dtop style=3D'width:340.15pt;border-t=
op:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid =
windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:3=
0.5pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt'>[<span
  style=3D'mso-spacerun:yes'>&nbsp; </span>]</span><span style=3D'font-size=
:14.0pt;
  font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font=
-family:
  "Times New Roman"'>&#24050;&#38405;&#33258;&#27979;&#25253;&#21578;</span=
><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-fareast-font-family:SimSun;mso=
-fareast-theme-font:
  minor-fareast'><o:p></o:p></span></p>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-han=
si-font-family:
  "Times New Roman"'>&#36127;&#36131;&#20154;&#65306;</span><span lang=3DEN=
-US
  style=3D'font-size:14.0pt;mso-fareast-font-family:SimSun;mso-fareast-them=
e-font:
  minor-fareast'><o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=3D'=
font-size:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#22635;&#34920;&#35828;&#26126;&#=
65306;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>(1</span><span style=3D'font-s=
ize:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#65289;&#28165;&#21333;&#32534;&#=
21495;&#65292;&#24517;&#22635;&#65292;&#38656;&#27714;&#32534;&#21495;</spa=
n><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>+</span><span class=3DGramE><s=
pan
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-hansi-font-famil=
y:
"Times New Roman"'>&#38656;&#27714;&#36865;&#27979;</span><span lang=3DEN-US
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast-font-family:=
SimSun;
mso-fareast-theme-font:minor-fareast'>2</span><span style=3D'font-size:9.0p=
t;
mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"Times N=
ew Roman";
mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:"Times New Roman=
"'>&#20301;</span></span><span
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-hansi-font-famil=
y:
"Times New Roman"'>&#39034;&#24207;&#21495;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>1</span><span style=3D'font-si=
ze:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#65289;&#39033;&#30446;&#21517;&#=
31216;&#65292;&#24517;&#22635;&#65292;&#22635;&#20889;&#38656;&#27714;&#251=
10;&#32570;&#38519;&#32534;&#21495;&#21450;&#31616;&#35201;&#35828;&#26126;=
&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>2</span><span style=3D'font-si=
ze:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#65289;&#33258;&#27979;&#25253;&#=
21578;&#65292;&#24517;&#22635;&#65292;<span
class=3DGramE>&#21246;&#36873;&#26159;&#21542;</span>&#38468;&#24102;&#3325=
8;&#27979;&#25253;&#21578;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>3</span><span style=3D'font-si=
ze:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#65289;&#36865;&#27979;&#26102;&#=
38388;&#65292;&#24517;&#22635;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>4</span><span style=3D'font-si=
ze:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#65289;<span class=3DGramE>&#3686=
5;&#27979;&#37096;&#38376;</span>&#65292;&#24517;&#22635;&#65307;&#65288;</=
span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>5</span><span style=3D'font-si=
ze:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#65289;&#23436;&#25104;&#26102;&#=
38388;&#65292;&#24517;&#22635;&#65292;&#22914;&#26080;&#24378;&#21046;&#261=
02;&#38388;&#35201;&#27714;&#65292;&#21017;&#25353;&#27979;&#35797;&#37096;=
&#38376;&#20219;&#21153;&#23433;&#25490;&#36827;&#34892;&#65307;&#65288;</s=
pan><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>6</span><span style=3D'font-si=
ze:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#65289;&#27979;&#35797;&#25351;&#=
24341;&#65292;&#24517;&#22635;&#65292;&#27979;&#35797;&#21253;&#21547;&#303=
40;&#20132;&#26131;&#12289;&#21151;&#33021;&#21450;&#27979;&#35797;&#35201;=
&#27714;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>7</span><span style=3D'font-si=
ze:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#65289;&#20854;&#20182;&#35828;&#=
26126;&#65292;&#38750;&#24517;&#22635;&#65292;&#21487;&#22635;&#20889;&#279=
79;&#35797;&#26465;&#20214;&#12289;&#27979;&#35797;&#26041;&#27861;&#31561;=
&#31561;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>8</span><span style=3D'font-si=
ze:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#65289;&#23457;&#25209;&#31614;&#=
21517;&#65292;&#24517;&#22635;&#65292;&#32463;&#23457;&#38405;&#33258;&#279=
79;&#25253;&#21578;&#21518;&#65292;&#30001;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;mso-fareast=
-font-family:
SimSun;mso-fareast-theme-font:minor-fareast'>UAT</span><span style=3D'font-=
size:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#29615;&#22659;&#21457;&#24067;&#=
23457;&#26680;&#20154;&#25110;&#25480;&#26435;&#20154;&#31614;&#21517;&#308=
30;&#35748;&#36865;&#27979;&#12290;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'><o:p></o:p=
></span></p>

</div>

</body>

</html>

------=_NextPart_01D18C09.82D61EC0
Content-Location: file:///C:/D049CDF9/apply.files/themedata.thmx
Content-Transfer-Encoding: base64
Content-Type: application/vnd.ms-officetheme

UEsDBBQABgAIAAAAIQDp3g+//wAAABwCAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbKyRy07DMBBF
90j8g+UtSpyyQAgl6YLHjseifMDImSQWydiyp1X790zSVEKoIBZsLNkz954743K9Hwe1w5icp0qv
8kIrJOsbR12l3zdP2a1WiYEaGDxhpQ+Y9Lq+vCg3h4BJiZpSpXvmcGdMsj2OkHIfkKTS+jgCyzV2
JoD9gA7NdVHcGOuJkTjjyUPX5QO2sB1YPe7l+Zgk4pC0uj82TqxKQwiDs8CS1Oyo+UbJFkIuyrkn
9S6kK4mhzVnCVPkZsOheZTXRNajeIPILjBLDsAyJX89nIBkt5r87nons29ZZbLzdjrKOfDZezE7B
/xRg9T/oE9PMf1t/AgAA//8DAFBLAwQUAAYACAAAACEApdan58AAAAA2AQAACwAAAF9yZWxzLy5y
ZWxzhI/PasMwDIfvhb2D0X1R0sMYJXYvpZBDL6N9AOEof2giG9sb69tPxwYKuwiEpO/3qT3+rov5
4ZTnIBaaqgbD4kM/y2jhdj2/f4LJhaSnJQhbeHCGo3vbtV+8UNGjPM0xG6VItjCVEg+I2U+8Uq5C
ZNHJENJKRds0YiR/p5FxX9cfmJ4Z4DZM0/UWUtc3YK6PqMn/s8MwzJ5PwX+vLOVFBG43lExp5GKh
qC/jU72QqGWq1B7Qtbj51v0BAAD//wMAUEsDBBQABgAIAAAAIQBreZYWgwAAAIoAAAAcAAAAdGhl
bWUvdGhlbWUvdGhlbWVNYW5hZ2VyLnhtbAzMTQrDIBBA4X2hd5DZN2O7KEVissuuu/YAQ5waQceg
0p/b1+XjgzfO3xTVm0sNWSycBw2KZc0uiLfwfCynG6jaSBzFLGzhxxXm6XgYybSNE99JyHNRfSPV
kIWttd0g1rUr1SHvLN1euSRqPYtHV+jT9yniResrJgoCOP0BAAD//wMAUEsDBBQABgAIAAAAIQDp
bE6NtAYAAKsbAAAWAAAAdGhlbWUvdGhlbWUvdGhlbWUxLnhtbOxZT28TRxS/V+p3GO0dYid2iCMc
FDs2aSEQxYaK43g93h0yu7OaGSf4huCIVKkqrTgUqeqlh6otEkitVPplGkpFqcRX6JuZ3fVOvG4S
iChqiRCJZ3/z/r/fvFmfv3ArYmiPCEl53PSqZyseIrHPhzQOmt61fvfMioekwvEQMx6Tpjch0ruw
9uEH5/GqCklEEOyP5SpueqFSyerCgvRhGcuzPCExPBtxEWEFH0WwMBR4H+RGbGGxUlleiDCNPRTj
CMReHY2oT9Czn3958c2D327fg3/eWqajw0BRrKRe8JnoaQ3E2Wiww92qRsiJbDOB9jBreqBuyPf7
5JbyEMNSwYOmVzE/3sLa+QW8mm5ias7ewr6u+Un3pRuGu4tGpwgGudJqt9Y4t5HLNwCmZnGdTqfd
qebyDAD7PnhqbSnKrHVXqq1MZgFk/5yV3a7UKzUXX5C/NGNzo9Vq1RupLVaoAdk/azP4lcpybX3R
wRuQxddn8LXWeru97OANyOKXZ/Ddc43lmos3oJDReHcGrRPa7abSc8iIs81S+ArAVyopfIqCasir
S6sY8VjNq7UI3+SiCwANZFjRGKlJQkbYh2Ju42ggKNYK8CrBhSd2yZczS1oXkr6giWp6HycYGmMq
79XT7189fYwO7jw5uPPTwd27B3d+tIKcXZs4Doq7Xn772V8Pb6M/H3/98v4X5XhZxP/+w71nv35e
DoT2mZrz/MtHfzx59PzBpy++u18CXxd4UIT3aUQkukL20Q6PwDETFddyMhAn29EPMS3uWI8DiWOs
tZTI76jQQV+ZYJZmx7GjRdwIXhdAH2XAi+ObjsG9UIwVLdF8KYwc4BbnrMVFaRQuaV2FMPfHcVCu
XIyLuB2M98p0t3Hs5LczToA3s7J0HG+HxDFzm+FY4YDERCH9jO8SUuLdDUqduG5RX3DJRwrdoKiF
aWlI+nTgVNN00yaNIC+TMp8h305stq6jFmdlXm+QPRcJXYFZifF9wpwwXsRjhaMykX0csWLAL2MV
lhnZmwi/iOtIBZkOCOOoMyRSlu25KsDfQtIvYWCs0rRvsUnkIoWiu2UyL2POi8gNvtsOcZSUYXs0
DovYj+QulChG21yVwbe42yH6M+QBx3PTfZ0SJ91Hs8E1GjgmTQtEPxmLklxeJNyp396EjTAxVAOk
7nB1RON/Im5GgbmthtMjbqDK5189LLH7XaXsdTi9ynpm8xBRz8Mdpuc2F0P67rPzBh7H2wQaYvaI
ek/O78nZ+8+T87x+Pn1KnrIwELSeReygbcbuaO7UPaKM9dSEkcvSDN4Szp5hFxb1PnPxJPktLAnh
T93JoMDBBQKbPUhw9QlVYS/ECQztVU8LCWQqOpAo4RIui2a5VLbGw+Cv7FWzri8hljkkVlt8aJeX
9HJ218jFGKsCc6HNFC1pAcdVtnQuFQq+vY6yqjbq2NqqxjRDio623GUdYnMph5DnrsFiHk0YahCM
QhDlZbj6a9Vw2cGMDHXcbY6ytJgsnGaKZIiHJM2R9ns2R1WTpKxWZhzRfthi0BfHI6JW0NbQYt9A
23GSVFRXm6Muy96bZCmr4GmWQNrhdmRxsTlZjPabXqO+WPeQj5OmN4J7MvwZJZB1qedIzAJ45+Qr
Ycv+yGY2XT7NZiNzzG2CKrz6sHGfcdjhgURItYFlaEvDPEpLgMVak7V/sQ5hPS0HStjoeFYsrUAx
/GtWQBzd1JLRiPiqmOzCio6d/ZhSKR8rInrhcB8N2FjsYEi/LlXwZ0glvO4wjKA/wLs5HW3zyCXn
tOmKb8QMzq5jloQ4pVvdolknW7ghpNwG86lgHvhWartx7uSumJY/JVeKZfw/c0WfJ/D2YWmoM+DD
G2KBke6UpseFCjmwUBJSvytgcDDcAdUC73fhMRQVvKc2vwXZ079tz1kZpq3hEql2aIAEhfNIhYKQ
baAlU31HCKumZ5cVyVJBpqIK5srEmj0ge4T1NQcu67PdQyGUumGTlAYM7nD9uZ/TDhoEesgp9pvD
ZPnZa3vgbU8+tpnBKZeHzUCTxT83MR8Ppqeq3W+2Z2dv0RH9YDpm1bKuAGWFo6CRtv1rmnDCo9Yy
1ozHi/XMOMjirMewmA9ECbxDQvo/OP+o8BkxZawP1D7fAW5F8OWFFgZlA1V9xg4eSBOkXRzA4GQX
bTFpUTa06eiko5Yd1qc86eZ6DwVbW3acfJ8w2Plw5qpzevE0g51G2Im1XZsbasjs4RaFpVF2kTGJ
Md+WFb/J4oObkOgN+M5gzJQ0xQTfUwkMM3TP9AE0v9Votq79DQAA//8DAFBLAwQUAAYACAAAACEA
DdGQn7YAAAAbAQAAJwAAAHRoZW1lL3RoZW1lL19yZWxzL3RoZW1lTWFuYWdlci54bWwucmVsc4SP
TQrCMBSE94J3CG9v07oQkSbdiNCt1AOE5DUNNj8kUeztDa4sCC6HYb6ZabuXnckTYzLeMWiqGgg6
6ZVxmsFtuOyOQFIWTonZO2SwYIKObzftFWeRSyhNJiRSKC4xmHIOJ0qTnNCKVPmArjijj1bkIqOm
Qci70Ej3dX2g8ZsBfMUkvWIQe9UAGZZQmv+z/TgaiWcvHxZd/lFBc9mFBSiixszgI5uqTATKW7q6
xN8AAAD//wMAUEsBAi0AFAAGAAgAAAAhAOneD7//AAAAHAIAABMAAAAAAAAAAAAAAAAAAAAAAFtD
b250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEApdan58AAAAA2AQAACwAAAAAAAAAAAAAA
AAAwAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEAa3mWFoMAAACKAAAAHAAAAAAAAAAAAAAA
AAAZAgAAdGhlbWUvdGhlbWUvdGhlbWVNYW5hZ2VyLnhtbFBLAQItABQABgAIAAAAIQDpbE6NtAYA
AKsbAAAWAAAAAAAAAAAAAAAAANYCAAB0aGVtZS90aGVtZS90aGVtZTEueG1sUEsBAi0AFAAGAAgA
AAAhAA3RkJ+2AAAAGwEAACcAAAAAAAAAAAAAAAAAvgkAAHRoZW1lL3RoZW1lL19yZWxzL3RoZW1l
TWFuYWdlci54bWwucmVsc1BLBQYAAAAABQAFAF0BAAC5CgAAAAA=

------=_NextPart_01D18C09.82D61EC0
Content-Location: file:///C:/D049CDF9/apply.files/colorschememapping.xml
Content-Transfer-Encoding: quoted-printable
Content-Type: text/xml

<?xml version=3D"1.0" encoding=3D"UTF-8" standalone=3D"yes"?>
<a:clrMap xmlns:a=3D"http://schemas.openxmlformats.org/drawingml/2006/main"=
 bg1=3D"lt1" tx1=3D"dk1" bg2=3D"lt2" tx2=3D"dk2" accent1=3D"accent1" accent=
2=3D"accent2" accent3=3D"accent3" accent4=3D"accent4" accent5=3D"accent5" a=
ccent6=3D"accent6" hlink=3D"hlink" folHlink=3D"folHlink"/>
------=_NextPart_01D18C09.82D61EC0
Content-Location: file:///C:/D049CDF9/apply.files/header.htm
Content-Transfer-Encoding: quoted-printable
Content-Type: text/html; charset="us-ascii"

<html xmlns:v=3D"urn:schemas-microsoft-com:vml"
xmlns:o=3D"urn:schemas-microsoft-com:office:office"
xmlns:w=3D"urn:schemas-microsoft-com:office:word"
xmlns:dt=3D"uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns:m=3D"http://schemas.microsoft.com/office/2004/12/omml"
xmlns=3D"http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=3DContent-Type content=3D"text/html; charset=3Dus-ascii">
<meta name=3DProgId content=3DWord.Document>
<meta name=3DGenerator content=3D"Microsoft Word 14">
<meta name=3DOriginator content=3D"Microsoft Word 14">
<link id=3DMain-File rel=3DMain-File href=3D"../apply.htm">
<![if IE]>
<base href=3D"file:///C:\D049CDF9\apply.files\header.htm"
id=3D"webarch_temp_base_tag">
<![endif]><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext=3D"edit" spidmax=3D"2049" fillcolor=3D"#9cbee0"
  strokecolor=3D"#739cc3">
  <v:fill color=3D"#9cbee0" color2=3D"#bbd5f0" type=3D"gradient">
   <o:fill v:ext=3D"view" type=3D"gradientUnscaled"/>
  </v:fill>
  <v:stroke color=3D"#739cc3" weight=3D"1.25pt"/>
 </o:shapedefaults></xml><![endif]-->
</head>

<body lang=3DZH-CN>

<div style=3D'mso-element:footnote-separator' id=3Dfs>

<p class=3DMsoNormal><span lang=3DEN-US><span style=3D'mso-special-characte=
r:footnote-separator'><![if !supportFootnotes]>

<hr align=3Dleft size=3D1 width=3D"33%">

<![endif]></span></span></p>

</div>

<div style=3D'mso-element:footnote-continuation-separator' id=3Dfcs>

<p class=3DMsoNormal><span lang=3DEN-US><span style=3D'mso-special-characte=
r:footnote-continuation-separator'><![if !supportFootnotes]>

<hr align=3Dleft size=3D1>

<![endif]></span></span></p>

</div>

<div style=3D'mso-element:endnote-separator' id=3Des>

<p class=3DMsoNormal><span lang=3DEN-US><span style=3D'mso-special-characte=
r:footnote-separator'><![if !supportFootnotes]>

<hr align=3Dleft size=3D1 width=3D"33%">

<![endif]></span></span></p>

</div>

<div style=3D'mso-element:endnote-continuation-separator' id=3Decs>

<p class=3DMsoNormal><span lang=3DEN-US><span style=3D'mso-special-characte=
r:footnote-continuation-separator'><![if !supportFootnotes]>

<hr align=3Dleft size=3D1>

<![endif]></span></span></p>

</div>

</body>

</html>

------=_NextPart_01D18C09.82D61EC0
Content-Location: file:///C:/D049CDF9/apply.files/filelist.xml
Content-Transfer-Encoding: quoted-printable
Content-Type: text/xml; charset="utf-8"

<xml xmlns:o=3D"urn:schemas-microsoft-com:office:office">
 <o:MainFile HRef=3D"../apply.htm"/>
 <o:File HRef=3D"themedata.thmx"/>
 <o:File HRef=3D"colorschememapping.xml"/>
 <o:File HRef=3D"header.htm"/>
 <o:File HRef=3D"filelist.xml"/>
</xml>
------=_NextPart_01D18C09.82D61EC0--
