MIME-Version: 1.0
Content-Location: file:///C:/D049CDF9/apply.htm
Content-Transfer-Encoding: quoted-printable
Content-Type: text/html; charset="us-ascii"

<html xmlns:v=3D"urn:schemas-microsoft-com:vml"
xmlns:o=3D"urn:schemas-microsoft-com:office:office"
xmlns:w=3D"urn:schemas-microsoft-com:office:word"
xmlns:dt=3D"uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns=3D"http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=3DContent-Type content=3D"text/html; charset=3Dus-ascii">
<meta name=3DProgId content=3DWord.Document>
<meta name=3DGenerator content=3D"Microsoft Word 11">
<meta name=3DOriginator content=3D"Microsoft Word 11">
<link rel=3DFile-List href=3D"apply.files/filelist.xml">
<title>&#27979;&#35797;&#24773;&#20917;&#27719;&#24635;&#34920;</title>
<!--[if gte mso 9]><xml>
 <o:CustomDocumentProperties>
  <o:KSOProductBuildVer dt:dt=3D"string">2052-9.1.0.4249</o:KSOProductBuild=
Ver>
 </o:CustomDocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:View>Print</w:View>
  <w:Zoom>90</w:Zoom>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:PunctuationKerning/>
  <w:DrawingGridVerticalSpacing>7.8 &#30917;</w:DrawingGridVerticalSpacing>
  <w:DisplayHorizontalDrawingGridEvery>0</w:DisplayHorizontalDrawingGridEve=
ry>
  <w:DisplayVerticalDrawingGridEvery>2</w:DisplayVerticalDrawingGridEvery>
  <w:ValidateAgainstSchemas>false</w:ValidateAgainstSchemas>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotUnderlineInvalidXML/>
  <w:Compatibility>
   <w:SpaceForUL/>
   <w:BalanceSingleByteDoubleByteWidth/>
   <w:DoNotLeaveBackslashAlone/>
   <w:ULTrailSpace/>
   <w:DoNotExpandShiftReturn/>
   <w:AdjustLineHeightInTable/>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:UseFELayout/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState=3D"false" LatentStyleCount=3D"156">
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:SimSun;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-alt:SimSun;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 135135232 16 0 262145 0;}
@font-face
	{font-family:SimSun;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 135135232 16 0 262145 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	font-size:10.5pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:SimSun;
	mso-font-kerning:1.0pt;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	tab-stops:center 207.65pt right 415.3pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:SimSun;
	mso-font-kerning:1.0pt;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:none;
	tab-stops:center 207.65pt right 415.3pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:SimSun;
	mso-font-kerning:1.0pt;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
 /* Page Definitions */
 @page
	{mso-page-border-surround-header:no;
	mso-page-border-surround-footer:no;}
@page Section1
	{size:595.3pt 841.9pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
	mso-header-margin:42.55pt;
	mso-footer-margin:49.6pt;
	mso-paper-source:0;
	layout-grid:15.6pt;}
div.Section1
	{page:Section1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:\666E\901A\8868\683C;
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";
	mso-ansi-language:#0400;
	mso-fareast-language:#0400;
	mso-bidi-language:#0400;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext=3D"edit" spidmax=3D"10242" fillcolor=3D"#9cbee0"
  strokecolor=3D"#739cc3">
  <v:fill color=3D"#9cbee0" color2=3D"#bbd5f0" type=3D"gradient">
   <o:fill v:ext=3D"view" type=3D"gradientUnscaled"/>
  </v:fill>
  <v:stroke color=3D"#739cc3" weight=3D"1.25pt"/>
 </o:shapedefaults></xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext=3D"edit">
  <o:idmap v:ext=3D"edit" data=3D"1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=3Dwhite lang=3DZH-CN style=3D'tab-interval:21.0pt;text-justif=
y-trim:
punctuation'>

<div class=3DSection1 style=3D'layout-grid:15.6pt'>

<p class=3DMsoNormal align=3Dcenter style=3D'text-align:center'><b><span
style=3D'font-size:18.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New Ro=
man"'>&#39033;&#30446;&#36865;&#27979;&#28165;&#21333;</span></b><b><span
lang=3DEN-US style=3D'font-size:18.0pt;mso-bidi-font-size:10.0pt'><o:p></o:=
p></span></b></p>

<p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=3D'=
font-family:
SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times=
 New Roman"'>&#28165;&#21333;&#32534;&#21495;&#65306;</span><span
lang=3DEN-US>$applyCode<span
style=3D'mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb=
sp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style=3D'font-family:SimSun;mso-ascii-font-family:"Time=
s New Roman";
mso-hansi-font-family:"Times New Roman"'>&#29256;&#26412;&#21495;&#65306;</=
span><span
lang=3DEN-US>$applyVersion</span></p>

<table class=3DMsoNormalTable border=3D1 cellspacing=3D0 cellpadding=3D0
 style=3D'border-collapse:collapse;border:none;mso-border-alt:solid windowt=
ext .5pt;
 mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:.5pt solid windowte=
xt;
 mso-border-insidev:.5pt solid windowtext'>
 <tr style=3D'mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;mso-=
border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#39033;&#3044=
6;&#21517;&#31216;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
  <td width=3D433 colspan=3D3 style=3D'width:324.45pt;border:solid windowte=
xt 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#38656;&#2771=
4;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'>/</span=
><span
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#32570;&#38519;&#32534;&#21495;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'>/</span=
><span
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#31616;&#35201;&#25551;&#36848;&#65306;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><span
  style=3D'mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>$applyName<o:p></o:p></span></p>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left;text-indent:17=
5.0pt;
  mso-char-indent-count:12.5'><span style=3D'font-size:14.0pt;mso-bidi-font=
-size:
  10.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-han=
si-font-family:
  "Times New Roman"'>&#25216;&#26415;&#36127;&#36131;&#20154;&#65306;</span=
><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'>$devPrincipal<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:1'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#33258;&#2797=
9;&#25253;&#21578;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
  <td width=3D433 colspan=3D3 style=3D'width:324.45pt;border-top:none;borde=
r-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1=
.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt'>[</span><span lang=
=3DEN-US
  style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt;font-family:SimSun'>
  $reportSelf1</span><span lang=3DEN-US style=3D'font-size:16.0pt;mso-bidi-=
font-size:
  14.0pt'> ]</span><span style=3D'font-size:14.0pt;font-family:SimSun;mso-a=
scii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#38468;&#2410=
2;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt'><span
  style=3D'mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><=
span
  lang=3DEN-US style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt'>[ </spa=
n><span
  lang=3DEN-US style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt;font-fam=
ily:
  SimSun'>$reportSelf2</span><span lang=3DEN-US style=3D'font-size:16.0pt;
  mso-bidi-font-size:14.0pt'> ]</span><span style=3D'font-size:14.0pt;font-=
family:
  SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Tim=
es New Roman"'>&#19981;&#38468;&#24102;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:2'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#36865;&#2797=
9;&#26102;&#38388;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
  <td width=3D181 style=3D'width:135.65pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><span
  style=3D'mso-spacerun:yes'>&nbsp; </span>$applyTime1</span><span
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#24180;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'>$applyTime2</span><span
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#26376;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'>$applyTime3</span><span
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#26085;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
  <td width=3D114 style=3D'width:85.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#27979;&#3579=
7;&#37096;&#38376;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
  <td width=3D138 style=3D'width:103.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'>$applyDept<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:3'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#23436;&#2510=
4;&#26102;&#38388;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
  <td width=3D433 colspan=3D3 style=3D'width:324.45pt;border-top:none;borde=
r-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1=
.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt'>[ $applyFinishTime1 ]</span><span
  style=3D'font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:"Times=
 New Roman";
  mso-hansi-font-family:"Times New Roman"'>&#26080;&#29305;&#27530;&#35201;=
&#27714;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt'><o:p></o:p></span></p>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt'>[ $applyFinishTime2 ]</span><span
  style=3D'font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:"Times=
 New Roman";
  mso-hansi-font-family:"Times New Roman"'>&#24378;&#21046;&#35201;&#27714;=
&#24517;&#39035;&#20110;</span><span
  lang=3DEN-US style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt'>$applyFinishTime3</span><span
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#24180;</span><span
  lang=3DEN-US style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt'>$applyFinishTime4</span><span
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#26376;</span><span
  lang=3DEN-US style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt'>$applyFinishTime5</span><span
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;
  mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New =
Roman"'>&#26085;&#21069;&#23436;&#25104;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><b><span
  style=3D'font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-h=
ansi-font-family:
  "Times New Roman"'>&#22791;&#27880;&#65306;&#26412;&#21608;&#19977;&#2004=
3;&#21069;&#23436;&#25104;&#27979;&#35797;&#65292;&#21487;&#22312;&#19979;&=
#21608;&#35745;&#21010;&#19978;&#32447;&#65307;&#26412;&#21608;&#19977;&#20=
043;&#21518;&#23436;&#25104;&#27979;&#35797;&#65292;&#35745;&#21010;&#19978=
;&#32447;&#26102;&#38388;&#20250;&#24310;&#36831;&#19968;&#21608;&#25110;&#=
32773;&#20197;&#19978;&#12290;</span></b><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:4;height:159.65pt'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:159.65pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#27979;&#3579=
7;&#25351;&#24341;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
  <td width=3D433 colspan=3D3 valign=3Dtop style=3D'width:324.45pt;border-t=
op:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid =
windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:1=
59.65pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'mso-bidi-font-size:10.5pt'><span style=3D'mso-spacerun:yes'>&nbs=
p;&nbsp;
  </span>$howToTest<o:p></o:p></span></p>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'mso-bidi-font-size:10.5pt'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:5;height:119.4pt'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:119.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#20854;&#2018=
2;&#35828;&#26126;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
  <td width=3D433 colspan=3D3 style=3D'width:324.45pt;border-top:none;borde=
r-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1=
.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:1=
19.4pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'>$info<o:p></o:p></sp=
an></p>
  </td>
 </tr>
 <tr style=3D'mso-yfti-irow:6;mso-yfti-lastrow:yes;height:96.8pt'>
  <td width=3D115 style=3D'width:85.95pt;border:solid windowtext 1.0pt;bord=
er-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid window=
text .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:96.8pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:
  "Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#23457;&#2520=
9;&#31614;&#21517;</span><span
  lang=3DEN-US style=3D'font-size:14.0pt;mso-bidi-font-size:10.0pt'><o:p></=
o:p></span></p>
  </td>
  <td width=3D433 colspan=3D3 valign=3Dtop style=3D'width:324.45pt;border-t=
op:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid =
windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid window=
text .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:9=
6.8pt'>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span lang=3D=
EN-US
  style=3D'font-size:16.0pt;mso-bidi-font-size:14.0pt'>[<span
  style=3D'mso-spacerun:yes'>&nbsp; </span>]</span><span style=3D'font-size=
:14.0pt;
  font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font=
-family:
  "Times New Roman"'>&#24050;&#38405;&#33258;&#27979;&#25253;&#21578;</span=
><span
  lang=3DEN-US style=3D'font-size:14.0pt'><o:p></o:p></span></p>
  <p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=
=3D'font-size:
  14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-han=
si-font-family:
  "Times New Roman"'>&#36127;&#36131;&#20154;&#65306;</span><span lang=3DEN=
-US
  style=3D'font-size:14.0pt'><o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=3DMsoNormal align=3Dleft style=3D'text-align:left'><span style=3D'=
font-size:
9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-ascii-font-family:"T=
imes New Roman";
mso-hansi-font-family:"Times New Roman"'>&#22635;&#34920;&#35828;&#26126;&#=
65306;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>(1)</span>=
<span
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#28165;&#21333;=
&#32534;&#21495;&#65292;&#24517;&#22635;&#65292;&#26085;&#26399;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>+</span><s=
pan
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#25216;&#26415;=
&#36127;&#36131;&#20154;&#21517;&#23383;&#32553;&#20889;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>+3</span><=
span
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#20301;&#39034;=
&#24207;&#21495;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>1</span><s=
pan
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#65289;&#39033;=
&#30446;&#21517;&#31216;&#65292;&#24517;&#22635;&#65292;&#22635;&#20889;&#3=
8656;&#27714;&#25110;&#32570;&#38519;&#32534;&#21495;&#21450;&#31616;&#3520=
1;&#35828;&#26126;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>2</span><s=
pan
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#65289;&#33258;=
&#27979;&#25253;&#21578;&#65292;&#24517;&#22635;&#65292;<span
class=3DGramE>&#21246;&#36873;&#26159;&#21542;</span>&#38468;&#24102;&#3325=
8;&#27979;&#25253;&#21578;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>3</span><s=
pan
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#65289;&#36865;=
&#27979;&#26102;&#38388;&#65292;&#24517;&#22635;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>4</span><s=
pan
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#65289;<span
class=3DGramE>&#36865;&#27979;&#37096;&#38376;</span>&#65292;&#24517;&#2263=
5;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>5</span><s=
pan
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#65289;&#23436;=
&#25104;&#26102;&#38388;&#65292;&#24517;&#22635;&#65292;&#22914;&#26080;&#2=
4378;&#21046;&#26102;&#38388;&#35201;&#27714;&#65292;&#21017;&#25353;&#2797=
9;&#35797;&#37096;&#38376;&#20219;&#21153;&#23433;&#25490;&#36827;&#34892;&=
#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>6</span><s=
pan
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#65289;&#27979;=
&#35797;&#25351;&#24341;&#65292;&#24517;&#22635;&#65292;&#27979;&#35797;&#2=
1253;&#21547;&#30340;&#20132;&#26131;&#12289;&#21151;&#33021;&#21450;&#2797=
9;&#35797;&#35201;&#27714;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>7</span><s=
pan
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#65289;&#20854;=
&#20182;&#35828;&#26126;&#65292;&#38750;&#24517;&#22635;&#65292;&#21487;&#2=
2635;&#20889;&#27979;&#35797;&#26465;&#20214;&#12289;&#27979;&#35797;&#2604=
1;&#27861;&#31561;&#31561;&#65307;&#65288;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>8</span><s=
pan
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#65289;&#23457;=
&#25209;&#31614;&#21517;&#65292;&#24517;&#22635;&#65292;&#32463;&#23457;&#3=
8405;&#33258;&#27979;&#25253;&#21578;&#21518;&#65292;&#30001;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'>UAT</span>=
<span
style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:SimSun;mso-a=
scii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman"'>&#29615;&#22659;=
&#21457;&#24067;&#23457;&#26680;&#20154;&#25110;&#25480;&#26435;&#20154;&#3=
1614;&#21517;&#30830;&#35748;&#36865;&#27979;&#12290;</span><span
lang=3DEN-US style=3D'font-size:9.0pt;mso-bidi-font-size:10.0pt'><o:p></o:p=
></span></p>

</div>

</body>

</html>
